<div class="hero">
  <div class="hero-content">
    <h1>Trailhead へようこそ</h1>
    <div class="hero-subheading">Salesforce を楽しく学習</div>
    <a class="hero-button" title="すぐに学習をはじめましょう！" href="<%= units_path %>">開始する</a>
  </div>
</div>
